.breadcrum {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #5e5e5e;
    font-size: clamp(0.75rem, 1.3vw, 1rem);
    font-weight: 600;
    margin: 2rem 5%;
    text-transform: capitalize;
    flex-wrap: wrap;
}
