.descriptionBox {
    margin: 4rem 5%;
}

.descriptionBox-navigator {
    display: flex;
    flex-wrap: wrap;
}

.descriptionBox-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: 600;
    padding: 1rem 2rem;
    min-width: 8rem;
    height: clamp(2.8rem, 5vw, 4.375rem);
    border: 1px solid #d0d0d0;
    cursor: pointer;
}

.descriptionBox-nav-box.fade {
    background: #FBFBFB;
    color: #555;
}

.descriptionBox-description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid #D0D0D0;
    padding: clamp(1.2rem, 4vw, 3rem);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    line-height: 1.7;
}

